<a href="https://colab.research.google.com/github/bhumi987/PYTHON-LAB/blob/main/20221BCA0280.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number) # print statement

1
3
5
7
9

In [ ]:
import itertools
for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [ ]:
import itertools

count = 0
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [ ]:
import itertools

l = ['CSE', 'COM', 'ECM']
iterators = itertools.cycle(l)
for i in range(6):


	print(next(iterators), end=" ")

CSE COM ECM CSE COM ECM

In [ ]:
import itertools

print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

In [ ]:
from itertools import product
print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['COM', 'CSE', 'ECM'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('COM', '2'), ('CSE', '2'), ('ECM', '2')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [ ]:
from itertools import permutations

print("All the permutations of the given list is:")
print(list(permutations([1, 'Computer'], 2)))
print()

print("All the permutations of the given string is:")
print(list(permutations('AB')))
print()

print("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

All the permutations of the given list is:
[(1, 'Computer'), ('Computer', 1)]

All the permutations of the given string is:
[('A', 'B'), ('B', 'A')]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [ ]:
from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

All the combination of list in sorted order(without replacement) is:
[('A', 2)]

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

All the combination of list in sorted order(without replacement) is:
[(0,), (1,)]

In [ ]:
from itertools import combinations_with_replacement

print("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 2)))
print()

print("All the combination of list in sorted order(with replacement) is:")
print(list(combinations_with_replacement([1, 2], 2)))
print()

print("All the combination of container in sorted order(with replacement) is:")
print(list(combinations_with_replacement(range(2), 1)))

All the combination of string in sorted order(with replacement) is:
[('A', 'A'), ('A', 'B'), ('B', 'B')]

All the combination of list in sorted order(with replacement) is:
[(1, 1), (1, 2), (2, 2)]

All the combination of container in sorted order(with replacement) is:
[(0,), (1,)]

In [ ]:
import itertools
import operator

li1 = [1, 4, 5, 7]

print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]
The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]

In [ ]:
import itertools
li1 = [1, 4, 5, 7]

li2 = [1, 6, 5, 9]

li3 = [8, 10, 5, 4]

print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [ ]:
import itertools


li1 = [1, 4, 5, 7]

li2 = [1, 6, 5, 9]

li3 = [8, 10, 5, 4]

li4 = [li1, li2, li3]

print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [ ]:
import itertools

print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [ ]:
import itertools
li = [2, 4, 5, 7, 8]

print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [ ]:
import itertools

li = [2, 4, 5, 7, 8]

print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [ ]:
import itertools
li = [2, 4, 5, 7, 8]

print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [ ]:
import itertools
li = [2, 4, 5, 7, 8, 10, 20]

print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 10]

In [ ]:
import itertools

li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]

print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 4, 1]

In [ ]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]

print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]

In [ ]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]

iti = iter(li)
it = itertools.tee(iti, 3)

print("The iterators are : ")
for i in range(0, 3):
	print(list(it[i]))

The iterators are :
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]

In [ ]:
import itertools

print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')

In [ ]:
from functools import partial


def power(a, b):
	return a**b
pow2 = partial(power, b=2)
pow4 = partial(power, b=4)
power_of_5 = partial(power, 5)

print(power(2, 3))
print(pow2(4))
print(pow4(3))
print(power_of_5(2))

print('Function used in partial function pow2 :', pow2.func)
print('Default keywords for pow2 :', pow2.keywords)
print('Default arguments for power_of_5 :', power_of_5.args)

8
16
81
25
Function used in partial function pow2 : <function power at 0x7e24ae1ec820>
Default keywords for pow2 : {'b': 2}
Default arguments for power_of_5 : (5,)

In [ ]:
from functools import partialmethod

class Demo:
	def __init__(self):
		self.color = 'black'

	def _color(self, type):
		self.color = type

	set_red = partialmethod(_color, type='red')
	set_blue = partialmethod(_color, type='blue')
	set_green = partialmethod(_color, type='green')


obj = Demo()
print(obj.color)

obj.set_blue()
print(obj.color)

obj.set_red()
print(obj.color)

obj.set_green()
print(obj.color)

black
blue
red
green

In [ ]:
from functools import cmp_to_key
def cmp_fun(a, b):
	if a[-1] > b[-1]:
		return 1
	elif a[-1] < b[-1]:
		return -1
	else:
		return 0

list1 = ['A', 'M', 'Z']
l = sorted(list1, key = cmp_to_key(cmp_fun))
print('sorted list :', l)

sorted list : ['A', 'M', 'Z']

In [ ]:
from functools import reduce
list1 = [2, 4, 7, 9, 1, 3]
sum_of_list1 = reduce(lambda a, b:a + b, list1)

list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)

print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 26
Maximum of list2 : xyz

In [ ]:
from functools import total_ordering

@total_ordering
class N:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value

	def __lt__(self, other):
		return self.value > other.value


print('6 > 2 :', N(6)>N(2))
print('3 < 1 :', N(3)<N(1))
print('2 <= 7 :', N(2)<= N(7))
print('9 >= 10 :', N(9)>= N(10))
print('5 == 5 :', N(5)== N(5))

6 > 2 : False
3 < 1 : True
2 <= 7 : False
9 >= 10 : True
5 == 5 : True

In [ ]:
L = [1, 2, 3]
it = iter(L)
it

In [ ]:
next(it)

1

In [ ]:
it.__next__()

3

In [ ]:
for i in L:
  print(i)

1
2
3

In [ ]:
L = [1, 2, 3]
iterator = iter(L)
t = tuple(iterator)
t

(1, 2, 3)

In [ ]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
for key in m:
  print(key, m[key])

Jan 1
Feb 2
Mar 3
Apr 4
May 5
Jun 6
Jul 7
Aug 8
Sep 9
Oct 10
Nov 11
Dec 12

In [ ]:
l=[1,2,3]
[2*i for i in l]

[2, 4, 6]

In [ ]:
l=[1,2,3]
for i in l:
  x=2*i
  print(x)

2
4
6

In [ ]:
[2*i for i in l]

[2, 4, 6]

In [ ]:
L = [('Italy', 'Rome'), ('France', 'Paris'), ('US', 'Washington DC')]
dict(iter(L))

{'Italy': 'Rome', 'France': 'Paris', 'US': 'Washington DC'}

In [ ]:
line_list = ['  Presidency University\n', ' Computer Science Department\n', ' Dept Of CSE \n', '  \n']
stripped_iter = (line.strip() for line in line_list)

In [ ]:
stripped_list = [line.strip() for line in line_list]
print(stripped_list)

['Presidency University', 'Computer Science Department', 'Dept Of CSE', '']

In [ ]:
stripped_list = [line.strip() for line in line_list]
print(stripped_list)

['Presidency University', 'Computer Science Department', 'Dept Of CSE', '']

In [ ]:
seq1 = 'abc'
seq2 = (1, 2, 3)
[(x, y) for x in seq1 for y in seq2]

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [ ]:
def generate_ints(N):
  for i in range(N):
    yield i


gen=generate_ints(8)
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

2

In [ ]:
next(gen)

3

In [ ]:
def counter(maximum):
    i = 0
    while i < maximum:
        val = (yield i)
        # If value provided, change counter
        if val is not None:
            i = val
        else:
            i += 1



it = counter(10)
next(it)

0

In [ ]:
next(it)

1

In [ ]:
next(it)

2

In [ ]:
next(it)

3

In [ ]:
it.send(8)

8

In [ ]:
next(it)

9

In [ ]:
def upper(s):
  return s.upper()

list(map(upper, ['sentence', 'fragment']))

['SENTENCE', 'FRAGMENT']

In [ ]:
[upper(s) for s in ['sentence', 'fragment']]

['SENTENCE', 'FRAGMENT']

In [ ]:
def is_even(x):
  return (x % 2) == 0
list(filter(is_even, range(10)))

[0, 2, 4, 6, 8]

In [ ]:
list(x for x in range(10) if is_even(x))

[0, 2, 4, 6, 8]

In [ ]:
for item in enumerate(['A', 'B', 'C']):
  print(item)

(0, 'A')
(1, 'B')
(2, 'C')

In [ ]:
import random
rand_list = random.sample(range(10000), 8)
rand_list

[1736, 9225, 8789, 3254, 8688, 5108, 265, 2139]

In [ ]:
sorted(rand_list)

[265, 1736, 2139, 3254, 5108, 8688, 8789, 9225]

In [ ]:
sorted(rand_list, reverse=True)

[9225, 8789, 8688, 5108, 3254, 2139, 1736, 265]

In [ ]:
any([0, 1, 0])

True

In [ ]:
all([0, 1, 0])

False

In [ ]:
zip(['a','b','c'], (1, 2, 3))

In [ ]:
zip(['a', 'b'], (1, 2, 3))